/*Global Styles*/
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 1.25;
  width: 100vw;
  overflow-x: hidden;
}

h1, h3, p {
  color: rgba(0, 0, 0, 0.8);
}

h1, h3 {
  font-family: 'Playfair Display';
}

p, a {
  font-family: 'Raleway';
}

/*Sidebar Navigation Styles*/
nav {
  position: fixed;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 15%;
}

.page-title {
  text-align: center;
  flex: 1 1 auto;
  width: 100%;
}

.sidebar {
  position: relative;
  list-style: none;
  padding: 0;
  text-align: center;
  top: 8%;
  flex: 1 1 auto;
}

.sidebar li {
  padding: 10px 0 10px 0;
}

.sidebar li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.sidebar li a:hover {
  color: white;
}

/*Hamburger Styles*/
.hamburger-container {
  position: fixed;
  z-index: 2;
  top: 30px;
  left: 7.5%;
  height: 25px;
  width: 30px;
  transition: left 0.7s ease;
}

.hamburger {
  top: 40px;
  left: 7.5%;
  transition: left 0.7s ease;
  width: 30px;
  height: 4px;
  border-radius: 1px;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
}

.hamburger:before {
  position: fixed;
  top: 30px;
  left: 7.5%;
  transition: all 0.7s ease;
  width: 30px;
  height: 4px;
  background-color: rgba(51, 51, 51, 0.8);
  content: '';
  border-radius: 1px;
}

.hamburger:after {
  position: fixed;
  top: 50px;
  left: 7.5%;
  transition: all 0.7s ease;
  width: 30px;
  height: 4px;
  background-color: rgba(51, 51, 51, 0.8);
  content: '';
  border-radius: 1px;
}

/*Hamburger Transition Styles*/
.hamburger-container.open {
  left: 20%;
}

.open .hamburger {
  left: -10%;
  transition: left 0.6s ease;
}

.open .hamburger:before {
  left: 20%;
  transform: rotate(-225deg);
  transition: all 0.7s ease;
  top: 40px;
}

.open .hamburger:after {
  left: 20%;
  transform: rotate(225deg);
  transition: all 0.7s ease;
  top: 40px;
}

/*Page Transition Styles*/
.focus-content.open {
  margin-left: 15%;
}

/*Page Styles*/
.focus-content {
  position: relative;
  padding-top: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin 0.7s ease;
  background-color: white;
  overflow: scroll;
  flex: 1 0 auto;
}

.progress-meter {
  width: 0;
  height: 4px;
  top: 0;
  position: fixed;
  background-color: aqua;
  z-index: 2;
  content: '';
  flex: 1 1 auto;
  transition: width 300ms ease;
}

.two-column {
  display: flex;
  width: 67%;
}

.two-column p {
  text-align: left;
  box-sizing: border-box;
}

.two-column p:first-child {
  padding-right: 5%;
}

.two-column p:last-child {
  padding-left: 5%;
}

.img-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

img {
  width: 67%;
  height: 30%;
  flex-shrink: 1;
  transform: translateX(100px);
  opacity: 0;
  transition: transform 600ms ease, opacity 600ms ease;
}

img.active {
  transform: translateX(0px);
  opacity: 1;
}

.text-block {
  width: 67%;
}

.salutation {
  text-align: center;
}

@media screen and (max-width: 980px) {
  .two-column {
    flex-direction: column;
    width: 75%;
  }

  .two-column p:first-child {
    padding: 0;
  }

  .two-column p:last-child {
    padding: 0;
  }

  img {
    width: 75%;
  }

  .text-block {
    width: 75%;
  }

  .hamburger-container {
    left: 4%;
    height: 18.75px;
    width: 22.5px;
  }

  .hamburger::before {
    left: 4%;
    width: 27.5px;
    height: 3.5px;
  }

  .hamburger::after {
    left: 4%;
    width: 27.5px;
    height: 3.5px;
  }

  .hamburger {
    left: 4%;
    width: 27.5px;
    height: 3.5px;
  }

  .hamburger-container.open {
    left: 20%;
  }
  
  .open .hamburger {
    left: -15%;
    transition: left 0.6s ease;
  }
  
  .open .hamburger:before {
    left: 18.5%;
    transform: rotate(-225deg);
    transition: all 0.7s ease;
    top: 40px;
  }
  
  .open .hamburger:after {
    left: 18.5%;
    transform: rotate(225deg);
    transition: all 0.7s ease;
    top: 40px;
  }
}
